
# Ignore sensitive files
.env
# Ignore everything inside wordpress
wordpress/*

# Now selectively track just the folders you want to track
# For some examples
# !wordpress/wp-content/plugins/my-awesome-plugin/
