# Ignore wp-config
wordpress/wp-config.php
wordpress/wp-config-sample.php

# Ignore everything inside wordpress
wordpress/wp-content/*

# Now selectively track just the folders you want to track
!wordpress/wp-content/plugins/
!wordpress/wp-content/themes/
